.footer{
   margin-top: 10px;
   background-color: white;
  
   
}


.about{

}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.grid-footer > div >img{
    width: 100%;
    height: 100%;
}

.insider-unlimited{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.insider-unlimited > img{
    width: 70px;
    height: 30px;
}


.logo{
    display: flex;
    justify-content: center;
}

.logo > div{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > div > img{
    width: 115px;
    height: 90px;
}

.in-un-container{
    justify-content: center;
    align-items: center;
}

.follow-icons > h4{
    margin-bottom: 2rem;
}

.icons{
    
    background-color: rgb(160, 17, 17);
    
    
    display: flex;
    column-gap: 3rem;
}

.icons2{
    margin-left: 2rem;
}

.follow-icons{
    display: flex;
    flex-direction: column;
}

 .footer-section-2{
  
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    padding-left: 3px;
    padding-right: 3px;
 }  

@media  screen and (max-width: 900px) {

    .grid-footer{
        grid-template-columns: repeat(2,1fr);
    }

        
}