header{
    box-shadow: 2.5px 2.5px grey;
}


button{
    border: none;
    background: none;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    font-weight: 500;
    color: white;

}

.nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    column-gap: 1rem;
    background-color: rgb(5, 22, 32);
    padding-left: 1rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-right: 5rem;

}

.vibhajan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem; 
}



.logo-button{
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.logo-button > img{
    width: 100%;
    height: 100%;
}


.dropdown-menu{
    position: absolute;
    background-color: rgb(5, 22, 32);
    left: 0;
    right: 0;
    margin-top: 5px;
    
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    flex-wrap: wrap;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-6px);
    transition: opacity 250ms ease-in-out,transform 250ms ease-in-out;
    box-shadow: 2.5px 2.5px grey;
    color: white;
    
}

.tvshows-upper{
    width: 11vw;
    height: 17rem;
    display: flex;
    background-color: white;
    border: solid 1px white;
    box-shadow: 3px 3px grey;
    padding-top: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 250ms linear;
}

.tvshows-upper > img{
    height: 80%;
}

.tvshows-upper:hover{
    transform: scale(1.1,1.1);
}






.home-button{

    position: relative;
    display: flex;
    
    margin-right: 1vh;
    margin-top: 0px;
    font-size: 14px;

}

.home-button::after{
    position: absolute;
    content: '';
    background: whitesmoke;
    height: 2.5px;
    left: 3px;
    bottom: -3px;
    
}

.home-button:hover::after{
    animation: line 1s forwards ;
}

@keyframes line {
    from{width: 0px}
    to{width: 100%;}
}



.dropdown.active > .home-button + .dropdown-menu{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
    z-index: 1;
}



.characters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 280px;
    box-shadow: 3px 3px darkgray;
    transform: scale(1,1);
    background-color: white;
    color: black;
    transition: transform 150ms ease-in-out;
    padding: 1px 2px 1px 3px;
    cursor: pointer;
}

.characters:hover{
    transform: scale(1.03,1.03);
}

.imgCha{
    width: 100%;
    height: 75%;
    
}

.burgerdown{
    display: none;
}

.seeall{
    margin-top: 7rem;
    border: solid 1px white;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    cursor: pointer;
    transform: scale(1,1);
    transition: transform 150ms ease-in-out;
}

.seeall:hover{
    transform: scale(1.2,1.2);
}

.more-container{
    display: flex;
    column-gap: 2rem;
    cursor: pointer;

}
.more-container > h1{
    color: white;
    transition: transform 150ms linear;
}

.more-container > h1:hover{
    transform: scale(1.1,1.1);
}

.search-icon{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.search-icon > img{
    width: 100%;
    height: 100%;
    transition: transform 125ms linear;
}

.search-icon:hover > img{
    transform: scale(1.4,1.4);
}



@media screen and (max-width: 992px)
{
   .dropdown-menu,.search-icon{
    display: none;
   }



   .home-button,.comics-button,.character-button,.series-button,.stories-button,.events-button{
    display: none;
   }

   .burgerdown{
    display: block;
    color: white;
    
   }

   .burger-menu{
    
    position: absolute;
    top: 4.6rem;
    right: 0;
    left: 0;
    background-color: rgb(5, 22, 32);
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    
    padding-left: 1px;
    padding-bottom: 1rem;
    opacity: 0;
    transform: translatey(-10px);
    transition: opacity 250ms ease-in-out,transform 150ms ease-in-out;
   }

   .burgerdown > .burger-button:focus + .burger-menu{
    opacity: 1;
    transform: translateY(0px);
    z-index: 1;
   }

   
   .nav{
    justify-content: space-between;
    padding-right: 3.1rem;
   }

   .responsive-button{
    
    transform: scale(1,1);
    transition: transform 150ms ease-in-out;
   }

   .responsive-button:hover{
    transform: scale(1.1,1.1);
   }

   .search-button{
    width: 35px;
    height: 30px;
   }

   .search-button > img{
    width: 100%;
    height: 100%;
   }
}